@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
:root {
    --header:rgba(0, 0, 0, 0.5);
    --main: rgba(217, 217, 217, 0.3);
    --lilSq: rgba(217, 217, 217, 1);
    --x:rgba(33, 146, 255, 1);
    --o:rgba(255, 205, 56, 1);
}
html, body {
    height:100%;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Jua', sans-serif;
}
.container {
    min-height:100%;
    display:grid;
    grid-template-rows:100px 1fr;
}
.header {
    grid-row:1;
    background:var(--header);
    display:flex;
    align-items:center;
    padding:2em;
}
.main {
    grid-row:2;
    background:var(--main);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:8%;
}
.title {
    font-size:3.5rem;
    color:white;
}
.cont {
    /* display:flex; */
    display:none;
    justify-content:center;
    align-items:center;
}
.bigSquare {
    position:relative;
    display:grid;
    grid-template-columns: repeat(3, minmax(75px, 100px));
    grid-template-rows: repeat(3, minmax(75px, 100px));
    gap:min(5%, 60px);
}
.lilSquare {
    background:var(--lilSq);
    display:flex;
    justify-content:center;
    align-items:center;
}

.piece {
    font-size:3rem;
}
.X {
    color:var(--x);
    text-shadow:4px 4px 10px var(--x);
}
.O {
    color:var(--o);
    text-shadow:4px 4px 10px var(--o);
}
.outcome {
    font-size:3rem;
    color:var(--header);
}
.startScreen {
    height:100%;
    background:white;
    width:clamp(325px, 50%, 600px);
    height:clamp(360px, 50%, 600px); 
    margin-top:clamp(40px, 40%, 100px);
    position:relative;
    display:flex;
    justify-content:space-around;    
    min-width:fit-content;
}
.controller {
    width:max(50%, 100px);
    height:max(50%, 150px);
}
.playerOne, .playerTwo {
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    justify-content:flex-start;
}
form {
    height:100%;
    width:100%;
    background:white;
    display:flex;
    justify-content:center;
    min-width:fit-content;
}

li + li {
    margin-top: max(5%, 15px);
}
.startScreen, form {
    border-radius:30px;
}
#type1, #type2 {
    width:min(50%, 150px);
    appearance:none;
    -webkit-appearance:none;
    border:2px solid var(--header);
    border-radius:25px;
    display:flex;
    align-items:center;
    padding:1em;
    transition:1s;
}
#type1::before, #type2::before {
    content:"Player";
    color:var(--header);
}
#type1:checked, #type2:checked {
    background:var(--header);
    justify-content:flex-end;
}
#type1:checked::before, #type2:checked::before {
    content:"AI";
    color:white;
    display:flex;
}
li {
    list-style:none;
    width:100%;
    gap:5%;
    color:var(--header);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
input[type="text"] {
    padding:0.5em;
    width:100%;
    border:1px solid var(--header);
    border-radius:10px;
    color:var(--header);
    width:max(60%, 100px);
}
input:focus, input:active {
    border:1px solid rgba(0, 0, 0, 0.7);
    outline:none;
}

#submit {
    padding:1.2em;
    border-radius:30px;
    width:max(fit-content, 20%);
    border:3px solid var(--header);
    color:var(--header);
    background:white;
    font-size:1.01rem;
}
label:hover, button:hover, input[type="checkbox"]:hover {
    cursor:pointer;
}